<h1></h1>
<div class="ui two column relaxed grid">
  <div class="four wide column">
    <div>
      <h2 class="ui centered aligned icon header">
        <i class="center aligned teal paper plane icon"></i>
        Small Chat
      </h2>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui raised segment">
      <div class="ui two column very relaxed grid">
        <div class="column">
          <%= form_with(scope: :session, url: login_path, class: "ui form", local: true) do |f| %>
            <div class="field">
              <%= f.label :username, class: "ui center aligned header" %>
              <div class="ui left icon input">
                <%= f.text_field :username %>
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <%= f.label :password, class: "ui center aligned header" %>
              <div class="ui left icon input">
                <%= f.password_field :password %>
                <i class="lock icon"></i>
              </div>
            </div>
            <%= f.submit "Log In", class: "ui yellow fluid submit button" %>
          <% end %>
        </div>
        <div class="middle aligned column">
          <div class="ui fluid big button">
            <i class="signup icon"></i>
            Sign Up
          </div>
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
    </div>
  </div>
</div>
